body {
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 16px;
}

/* layout */
.container {
    margin: 0 4%;
}

.slide-item {
    border: 1px solid black;
    padding: 1em;
    margin-bottom: 20px;
}
