<!DOCTYPE html>
<html lang="en-gb">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    	<title>{{ title }} - Python TESTBED pptx reader</title>

        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main.css')}}">
    </head>

    <body>
        <nav role="navigation">
            <a href="/">Home</a> | <a href="/upload">Upload</a>
        </nav>
        <section class="container" role="main">
        {% block content %}
        {% endblock %}
        </section>
    </body>
</html>
