{% extends "base.html" %}

{% block content %}
<h1>Powerpoint accessibility app</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum optio ex sit in, voluptates minima, nemo, modi provident repellat eius cumque iusto ducimus maxime corporis, nisi deserunt numquam quam vel.</p>

<p>Made by amazing folks</p>
{% endblock %}
