{% extends "base.html" %}

{% block content %}
<h1>Your File: {{fileSubmitted}}</h1>

<div class="results-container">
        {% for item in slide_contents %}
            <div class="slide-item">
                <p>{{ item }}</p>
            </div>
        {% endfor %}
</div>
{% endblock %}
