{% extends "base.html" %}

{% block content %}
<h1>upload your powerpoint presentation</h1>

<p>Select the Powerpoint file you want to get the accessible text file from. NOTE: this only works with .pptx files.</p>

{% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endwith %}

<div class="form-container">
    <form action="" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="file">Choose a Powerpoint file to upload</label>
            <input type="file" id="file" name="file" accept=".pptx">
        </div>
        <div class="form-group">
            <input type="submit" value="Upload">
        </div>
    </form>
</div>
{% endblock %}
